<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goodee.library.book.BookDao">   <!-- 패키지명이 아니라 우리끼리의 약속  -->

	<insert id="insertBook" parameterType="com.goodee.library.book">
		INSERT INTO tbl_book(b_no, b_name, b_author
		b_publisher, b_publish_year, b_thumbnail, b_reg_Date, b_mod_date)
		VALUES(#{b_no},#{b_name},#{b_author},#{b_publisher},
		#{b_publish_year},#{b_thumbnail},NOW(),NOW())
	</insert>













</mapper>