<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goodee.library.book.BookDao">
  	<insert id="insertBook" parameterType="com.goodee.library.book.BookVo"> <!--parameterType="com.goodee.library.book.BookVo">는 vo의 클래스이름임  -->
		INSERT INTO tbl_book( b_name, b_author,
		b_publisher, b_publish_year, b_thumbnail, 
		b_reg_date)
		VALUES(#{b_name},#{b_author},#{b_publisher}
		,#{b_publish_year},#{b_thumbnail},NOW())
	</insert>
	

	<select id="selectBookOne" parameterType="int" 
   resultType="com.goodee.library.book.BookVo">
      SELECT * FROM tbl_book
      <where>
         b_no = #{b_no}
      </where>
   </select>
   <!-- com.goodee.library.book.BookVo는 BookVo의 패키지 이름을 적어준다  -->
   <!-- where절에서만 and로 연결 , 아님  -->
   <update id="updateBook" parameterType="com.goodee.library.book.BookVo" >
  	UPDATE tbl_book
  	SET b_name = #{b_name}
  	  , b_author = #{b_author}
  	  , b_publisher = #{b_publisher}
  	  , b_publish_year = #{b_publish_year}
  	  , b_mod_date = NOW()
  	  <!-- 새로운 이미지를 입력했는지 아닌지 여부를 if에 적어줌 -->
  	<if test= "b_thumbnail !=null and b_thumbnail.equals('') == false"> <!--만약에 b_thumnail이 같지 않다면  , b_thumbnail = #{b_thumbnail}를 바꿔준다.-->
  	 , b_thumbnail = #{b_thumbnail}
  	</if>
  		<where>
  			b_no=#{b_no}
  		</where>
  	</update>
</mapper>
